<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>Music Player</title>
</head>

<body>
    <div class="player">
        <audio></audio>
        <div class="cover"></div>
        <nav>
            <div class="left">
                <i class="material-icons">menu</i>
                <h6>Playlist</h6>
            </div>
            <div class="right">
                <i class="material-icons search">search</i>
                <i class="material-icons">queue_music</i>
            </div>
        </nav>
        <div class="player-ui">
            <div class="title">
                <h3 id="title"></h3>
            </div>
            <div class="small">
                <i class="material-icons" data-action="loop">replay</i>
                <p id="singer"></p>
                <i class="material-icons" data-action="mute">volume_up</i>
            </div>
            <div class="progress">
                <div class="played">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="controls">
                <i class="material-icons" data-action="previous">skip_previous</i>
                <i class="material-icons" data-action="play">play_arrow</i>
                <i class="material-icons" data-action="next">skip_next</i>
            </div>
        </div>
        <div class="btn">
            <i class="material-icons">shuffle</i>
        </div>
        <div class="music">
            <!-- <div class="song-1">
                <div class="info">
                    <div class="img first"></div>
                    <div class="titles">
                        <h5>Hello</h5>
                        <p>Adele</p>
                    </div>
                </div>
                <div class="state playing">
                    <i class="material-icons">equalizer</i>
                </div>
            </div>
            <div class="song-2">
                <div class="info">
                    <div class="img second"></div>
                    <div class="titles">
                        <h5>Californication</h5>
                        <p>Red Hot Chili Pepers</p>
                    </div>
                </div>
                <div class="state">
                    <i class="material-icons">play_arrow</i>
                </div>
            </div>
            <div class="song-3">
                <div class="info">
                    <div class="img third"></div>
                    <div class="titles">
                        <h5>6 INCH</h5>
                        <p>beyoncé</p>
                    </div>
                </div>
                <div class="state">
                    <i class="material-icons">play_arrow</i>
                </div>
            </div>
            <div class="song-4">
                <div class="info">
                    <div class="img fourth"></div>
                    <div class="titles">
                        <h5>Purple rain</h5>
                        <p>Prince & The Revolution</p>
                    </div>
                </div>
                <div class="state">
                    <i class="material-icons">play_arrow</i>
                </div>
            </div> -->
        </div>
    </div>

    <template class="templatePlayList">
        <div class="song-1">
            <div class="info">
                <div class="img first"></div>
                <div class="titles">
                    <h5>{{title}}</h5>
                    <p>{{singer}}</p>
                </div>
            </div>
            <div class="state {{playing}}">
                <i class="material-icons" data-action="changesource-playlist">{{icon}}</i>
            </div>
        </div>
    </template>
    <script src="./player.js"></script>

    <script>
        let musicList = [
            {
                title : "Az Khoda Khasteh",
                singer : "Mahasti",
                src: "./assets/Az Khoda Khasteh.mp3",
                cover : "./assets/Az Khoda Khasteh.jpg"
            },
            {
                title : "Fadaat Sham",
                singer : "Mahasti",
                src: "./assets/Fadaat Sham.mp3",
                cover : "./assets/Fadaat Sham.jpg"
            },
            {
                title : "Meykhoneh Be Sharab",
                singer : "Mahasti",
                src: "./assets/Meykhoneh Be Sharab.mp3",
                cover : "./assets/Meykhoneh Be Sharab.jpg"
            },
            {
                title : "Shayad",
                singer : "Mahasti",
                src: "./assets/Shayad.mp3",
                cover : "./assets/Shayad.jpg"
            },
            {
                title : "Zendegi",
                singer : "Mahasti",
                src: "./assets/Zendegi.mp3",
                cover : "./assets/Zendegi.jpg"
            }
        ]
        new Player(musicList);
    </script>
</body>

</html>